.advantages {
    background-color: $ghost-white;
    width: 100%;
}

.advantages__container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 97px 45px;
    padding-bottom: 140px;

    @media(max-width: $tablet-width) {
        padding-top: 91px;
        padding-bottom: 93px;
    }

    @media(max-width: $mobile-width) {
        padding: 63px 0;
    }

    h2 {
        font-family: $alumni;
        font-weight: 600;
        font-size: 54px;
        line-height: 65px;
        letter-spacing: 0.03em;
        text-align: center;

        margin: 0;
        padding-left: 11px;

        @media(max-width: $tablet-width) {
            font-size: 42px;
            line-height: 50px;
            padding-right: 33px;
            margin-bottom: 43px;
        }

        @media(max-width: $mobile-width) {
            font-size: 32px;
            line-height: 38px;
            padding-left: 16px;
            margin-bottom: 48px;
        }
    }
}

.advantages__list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 15%;
    column-gap: 0;

    @media (max-width: $tablet-width) {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
    }
}

.advantages__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: 9.2%;

    @media(max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        margin-bottom: 39px;
    }

    &--accent {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 2 / 3;
        grid-row: span 2;
        background-color: $resolution-blue;
        color: $color-default-white;
        max-width: 240px;
        height: 307px;
        margin-top: 55px;
        margin-left: 55px;
        padding-top: 50px;

        @media(max-width: $tablet-width) {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            min-width: 442px;
            height: auto;

            margin: 44px auto 42px;
            padding-top: 33px;
            padding-bottom: 38px;
        }

        @media (max-width: $mobile-width) {
            max-width: none;
            min-width: auto;
            width: 100%;
            order: 1;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 45px;
            padding-top: 41px;
            padding-bottom: 45px;
        }
    }

    &:nth-child(2n) {
        grid-column: 1 / 2;
        padding-left: 20px;

        @media(max-width: $tablet-width) {
            padding-left: 0;
        }
    }

    &:nth-child(2n+3) {
        grid-column: 3 / 4;
        padding-left: 8px;

        @media(max-width: $tablet-width) {
            grid-column: 2 / 3;
            padding-left: 15px;
        }

        @media(max-width: $mobile-width) {
            padding-left: 0;
        }
    }

    &:nth-child(2n+5),
    &:nth-child(2n+4) {
        position: relative;

        &::before {
            content: "";
            height: 2px;
            width: 98%;
            background-color: rgba($crimson, 0.2);
            position: absolute;
            top: -27px;
            left: 1px;

            @media(max-width: $tablet-width) {
                display: none;
            }
        }
    }

    &:nth-child(2n+5) {

        &::before {
            left: 8px;
        }
    }

    &:nth-child(n+2) {
        @media (max-width: $tablet-width) {
            grid-row: 1 / 2;
        }
    }

    &:nth-child(n+4) {
        @media (max-width: $tablet-width) {
            grid-row: 3 / 4
        }

        @media (max-width: $mobile-width) {
            order: 2;
        }
    }

    &:nth-child(n+6) {
        @media (max-width: $tablet-width) {
            grid-row: auto;
        }
    }
}

.advantages__value {
    display: flex;
    flex-direction: column;

    @media(max-width: $mobile-width) {
        align-items: center;
        margin-bottom: 6px;
    }

    span {
        font-weight: 700;
        font-size: 71px;
        line-height: 64px;
        color: transparent;
        background: linear-gradient(142.51deg, $crimson 0%, $flying-fish 87.33%);
        background-clip: text;

        @media(max-width: $tablet-width) {
            font-size: 58px;
            line-height: 50px;
        }
    }

    &--area {
        span {
            background: linear-gradient(127.61deg, $crimson 0%, $flying-fish 87.33%);
            background-clip: text;
        }
    }

    small {
        font-size: 14px;
        line-height: 21px;
        color: $persian-blue;
    }

    &--accent {
        margin-bottom: 31px;
        padding: 0 10px;

        @media(max-width: $tablet-width) {
            margin-bottom: 14px;
        }

        span {
            font-size: 74px;
            line-height: 80px;
            color: $color-default-white;
            padding-left: 7px;

            @media(max-width: $tablet-width) {
                font-size: 74px;
                line-height: 73px;
                padding-left: 0;
                transform: translateX(-2px);
            }

            @media(max-width: $mobile-width) {
                line-height: 66px;
            }
        }

        p {
            margin: 0;
            font-weight: 700;
            font-size: 26px;
            line-height: 39px;

            @media(max-width: $tablet-width) {
                font-size: 22px;
                line-height: 33px;
            }
        }
    }
}

.advantages__description {
    @media(max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 46px;
        text-align: center;
    }

    h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        margin: 0;
        margin-bottom: 6px;

        @media(max-width: $tablet-width) {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 2px;
        }
    }

    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        margin: 0;

        @media(max-width: $tablet-width) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &--accent {
        p {
            padding: 0 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;

            @media(max-width: $tablet-width) {
                line-height: 24px;
                max-width: 330px;
            }

            @media(max-width: $mobile-width) {
                transform: translateY(1px);
            }
        }
    }
}