.catalog {
  width: 100%;
  background-color: $ghost-white;
  position: relative;
}

.catalog__container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 103px;

  @media (max-width: $tablet-width) {
    padding: 100px 163px;
  }

  @media (max-width: $mobile-width) {
    padding: 64px 15px;
    padding-bottom: 68px;
  }

  h2 {
    font-family: $alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 100%;
    text-align: center;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 50px;
      padding-right: 13px;
      margin-bottom: 20px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
      padding-left: 2px;
      margin-bottom: 21px;
    }
  }
}

.catalog__image {
  position: absolute;
  bottom: -17.7%;
  right: 0;

  @media (max-width: $tablet-width) {
    bottom: -7%;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
