.feedback__container {
  max-width: 762px;
  padding: 17px 45px;
  padding-bottom: 120px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    padding-bottom: 70px;
  }

  h2 {
    font-family: $alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    margin: 0;
    text-align: center;
    padding-left: 10px;
    margin-bottom: 37px;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 50px;
      padding-left: 0;
      padding-right: 5px;
      margin-bottom: 41px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
      padding-right: 3px;
      margin-bottom: 43px;
    }
  }
}

.feedback__content {
  display: flex;
}

.feedback__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 560px;

  @media (max-width: $tablet-width) {
    max-width: 566px;
  }

  @media (max-width: $mobile-width) {
    max-width: 226px;
  }
}

.feedback__item {
  display: flex;
  background-color: $resolution-blue;
  box-shadow: 0 0 40px rgba($resolution-blue, 0.2);
  padding: 54px 62px;
  padding-bottom: 32px;

  @media (max-width: $tablet-width) {
    padding: 54px 65px 32px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 40px 25px;
    padding-bottom: 27px;
  }
}

.feedback__image {
  flex-shrink: 0;
  margin-right: 28px;
  padding-top: 8px;

  @media (max-width: $mobile-width) {
    margin: 0;
    padding: 0;
    padding-left: 16px;

    img {
      width: 68px;
      height: 68px;
    }
  }
}

.feedback__description {
  color: $color-default-white;

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 15px;

    @media (max-width: $mobile-width) {
      margin: 0;
      transform: translate(99px, -59px);
      max-width: 105px;
    }
  }

  p {
    font-size: 16px;
    line-height: 23px;
    margin: 0;

    @media (max-width: $mobile-width) {
      text-align: center;
      margin-top: -39px;
      line-height: 22.5px;
    }
  }
}

.feedback__button {
  position: static;
  align-self: center;
  border: none;
  display: block;
  background-color: transparent;
  margin: 0;

  &::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid $dark-gray;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);

    @media (max-width: $mobile-width) {
      width: 14px;
      height: 14px;
    }
  }

  &--next {
    transform: translateX(-4px);

    &::before {
      transform: rotate(-135deg);
    }
  }

  &:focus,
  &:hover {
    outline: none;

    &::before {
      border-bottom: 1px solid $crimson;
      border-left: 1px solid $crimson;
    }
  }

  &:active {
    &::before {
      border-bottom: 1px solid $cobalt;
      border-left: 1px solid $cobalt;
    }
  }
}
