.header {
    width: 100%;
    background: conic-gradient(from 150.87deg at 16.03% 39.06%, $venetian-red -46.69deg, $dark-cerulean 32.24deg,
            $venetian-red 313.31deg, $dark-cerulean 392.24deg);

}

.header__container {
    max-width: 1160px;
    margin: 0 auto;
    color: $color-default-white;

    @media(max-width: $tablet-width) {
        padding: 0 45px;
    }

    @media(max-width: $mobile-width) {
        padding: 0 15px;
    }
}

.header__nav {
    padding-top: 30px;

    @media(max-width: $tablet-width) {
        padding-top: 35px;
        margin-bottom: 18px;
    }

    @media(max-width: $mobile-width) {
        padding-top: 15px;
        margin-bottom: 42px;
    }
}

.header__content {
    display: flex;
    padding-bottom: 51px;
    margin-top: -30px;

    @media(max-width: $tablet-width) {
        margin-top: 0;
        padding-bottom: 82px;
    }
}

.header__description {
    display: grid;
    grid-template-columns: 132px 263px;
    font-family: $alumni;
    margin-right: 65px;

    @media(max-width: $tablet-width) {
        grid-template-columns: 113px 210px;
        margin-right: 31px;
    }

    @media(max-width: $mobile-width) {
        grid-template-columns: 113px 1fr;
        margin: 0;
        width: 100%;
    }

    h1 {
        font-weight: 600;
        font-size: 92px;
        line-height: 110px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 0;
        padding-top: 13px;
        -webkit-text-stroke: 4px;

        @media(max-width: $tablet-width) {
            text-transform: none;
            font-size: 72px;
            line-height: 86px;
            padding-top: 9px;
        }

        @media(max-width: $mobile-width) {
            padding-top: 14px;
            transform: translateX(-9px);
        }
    }

    h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0.03em;
        text-transform: lowercase;
        grid-column: 2 / 3;
        margin: 0;
        place-self: end;
        padding-top: 67px;
        padding-right: 50px;

        @media(max-width: $tablet-width) {
            font-size: 34px;
            line-height: 41px;
            padding-top: 20px;
            padding-right: 3px;
        }

        @media(max-width: $mobile-width) {
            font-size: 28px;
            line-height: 34px;
            padding-right: 11px;
        }
    }
}

.header__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    place-self: center end;

    @media(max-width: $tablet-width) {
        place-self: end;
    }
}

.header__button {
    grid-column: 2 / 3;
    place-self: center;
    color: $color-default-white;
    font-family: $roboto;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border: 4px solid $color-default-white;
    padding: 20px 55px;
    transform: translate(18px, -19px);

    @media(max-width: $tablet-width) {
        padding: 20px 32px;
        transform: translate(15px, -7px)
    }

    @media(max-width: $mobile-width) {
        padding: 20px 85px;
        grid-column: 1 / -1;
        transform: translate(-3px,22px);
    }

    &:focus,
    &:hover {
        background-color: $color-default-white;
        color: $sapphire;
    }

    &:active {
        opacity: 0.7;
    }
}

.header__image {
    @media(max-width: $mobile-width) {
        display: none;
    }
}