.hero {
  width: 100%;
}

.hero__container {
  max-width: 1250px;
  padding: 120px 45px;
  padding-bottom: 235px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 100px 45px;
    padding-bottom: 183px;
  }

  @media (max-width: $mobile-width) {
    padding: 64px 0;
    padding-bottom: 70px;
  }
}

.hero__content {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.hero__description {
  max-width: 355px;
  padding-top: 39px;
  margin-left: 60px;

  @media (max-width: $tablet-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 37px;
    max-width: none;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    margin-bottom: 25px;
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  h2 {
    font-family: $alumni;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
    margin-bottom: 7px;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 50px;
      text-align: center;
      padding-right: 15px;
      margin-bottom: -1px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
      text-align: start;
      margin-bottom: 5px;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 39px;

    @media (max-width: $tablet-width) {
      text-align: center;
      margin-bottom: 33px;
    }

    @media (max-width: $mobile-width) {
      text-align: start;
      margin-bottom: 24px;
    }
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;

    @media (max-width: $tablet-width) {
      padding: 0 50px;
      text-align: center;

      &:not(:first-of-type) {
        display: none;
      }
    }

    @media (max-width: $mobile-width) {
      text-align: start;
      padding: 0;
      padding-right: 30px;
    }
  }
}

.hero__image {
  place-self: start end;

  @media (max-width: $tablet-width) {
    place-self: center;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }

  img {
    @media (max-width: $tablet-width) {
      width: 100%;
      height: auto;
    }
  }
}

.hero__video {
  position: absolute;
  top: 72%;
  left: 37.7%;
  width: 364px;
  height: 228px;

  @media (max-width: $tablet-width) {
    width: 267px;
    height: 167px;
    top: 85.2%;
    left: 30.2%;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
