.nav {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr auto 1fr;

  a:not(.nav__phone) {
    grid-column: 1 / 2;
    place-self: start;
    grid-row: auto;
  }

  &__logo {
    color: $color-default-white;

    &:focus,
    &:hover {
      color: $black-russian;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.9;
    }
  }

  &__phone {
    font-family: $alumni;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $color-default-white;
    grid-column: 3 / 4;
    grid-row: auto;
    place-self: start end;

    &:focus-visible,
    &:focus,
    &:hover {
      color: $black-russian;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.9;
    }

    @media (max-width: $tablet-width) {
      font-size: 24px;
      line-height: 29px;
      font-weight: 700;
      letter-spacing: 0.02em;
    }

    @media (max-width: $mobile-width) {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}

.nav__logo-icon {
  @media (max-width: $tablet-width) {
    width: 88px;
    height: 17px;
    scale: 0.92;
    transform: translate(-3px, 5px);
  }

  @media (max-width: $mobile-width) {
    width: 69px;
    height: 24px;
    transform: none;
    scale: 1;
  }
}
