.promo {
    width: 100%
}

.promo__container {
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 121px;
    padding-bottom: 106px;

    @media(max-width: $tablet-width) {
        padding: 100px 45px;
    }

    @media(max-width: $mobile-width) {
        padding: 71px 15px;
        padding-bottom: 63px;
    }
}

.promo__content {
    display: flex;

    @media(max-width: $mobile-width) {
        flex-direction: column;
    }
}

.promo__description {
    background-color: $torch-red;
    color: $color-default-white;
    padding: 81px 78px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;

    @media(max-width: $tablet-width) {
        padding: 39px 45px;
        max-width: none;
        width: 43.1%;
    }

    @media(max-width: $mobile-width) {
        width: 100%;
        padding-bottom: 80px;
    }

    h2 {
        font-family: $alumni;
        font-weight: 600;
        font-size: 82px;
        line-height: 79px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0;
        padding: 4px 1px;
        padding-left: 11px;

        @media(max-width: $tablet-width) {
            font-size: 48px;
            line-height: 46px;
            padding: 12px 6px 1px;
        }

        @media(max-width: $mobile-width) {
            padding: 11px 5px 1px;
        }
    }

    p {
        font-size: 18px;
        line-height: 27px;
        margin: 0;
        grid-column: 1 / -1;
        transform: translateY(-17px);

        @media(max-width: $tablet-width) {
            font-size: 12px;
            line-height: 18px;
            transform: translateY(-13px);
        }

        @media(max-width: $mobile-width) {
            transform: none;
        }
    }
}

.promo__announcement {
    font-family: $roboto;
    margin: 0;
    place-self: start end;

    @media(max-width: $tablet-width) {
        padding-right: 1px;
        padding-top: 8px;
    }

    dt {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: -1px;

        @media(max-width: $tablet-width) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    dd {
        position: relative;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        margin: 0;
        display: inline-flex;
        align-items: center;
        margin-bottom: 9px;

        @media(max-width: $tablet-width) {
            font-size: 24px;
            line-height: 36px;
            margin: 0;
        }

        &::before {
            position: absolute;
            top: 5px;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $color-default-white;

            @media(max-width: $tablet-width) {
                top: 2px;
            }
        }
    }

    small {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        padding-left: 7px;

        @media(max-width: $tablet-width) {
            font-size: 10px;
            line-height: 15px;
            padding-left: 4px;
        }
    }
}

.promo__button {
    grid-column: 1 / -1;
    text-transform: uppercase;
    color: $color-default-white;
    border: 4px solid $color-default-white;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    display: inline-flex;
    align-self: center;
    padding: 25px 110px;
    place-self: end;
    user-select: none;
    transform: translateY(-3px);

    @media(max-width: $tablet-width) {
        font-size: 10px;
        line-height: 12px;
        border: 2px solid $color-default-white;
        padding: 12.5px 50px;
        width: 101%;
        transform: translate(1px, -11px);
    }

    @media(max-width: $mobile-width) {
        transform: translate(1px, 29px);
    }

    &:focus,
    &:hover {
        outline: none;
        background-color: $color-default-white;
        color: $torch-red;
    }

    &:active {
        background-color: $cobalt;
        border-color: $cobalt;
    }
}

.promo__image {
    @media(max-width: $tablet-width) {
        width: 56.9%;
    }

    @media(max-width: $mobile-width) {
        width: 100%;
    }

    img {
        width: 100%;
    }
}