.site-list {
  font-family: $roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  padding-top: 57px;

  @media (max-width: $tablet-width) {
    padding-bottom: 50px;
    padding-top: 0;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 32px;
    padding-top: 0;
    margin-top: 90px;
    min-width: 113px;
  }
}
