.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 11px;
  margin-right: 6px;

  @media (max-width: $tablet-width) {
    margin: 0;
    padding-top: 4px;
  }

  @media (max-width: $mobile-width) {
    max-width: 97px;
    padding: 0;
  }
}

.social__link {
  color: $color-default-white;

  &:focus,
  &:hover {
    outline: none;
    color: $venetian-red;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }
}
