.staff__container {
    max-width: 1187px;
    position: relative;
    margin: 0 auto;

    h2 {
        margin: 0;
        margin-bottom: 48px;
        padding-left: 15px;
        font-family: $alumni;
        font-weight: 600;
        font-size: 54px;
        line-height: 65px;
        letter-spacing: 0.03em;
    }
}

.staff__slider {
    max-width: 100%;
}

.staff__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    column-gap: 40px;
}

.staff__item {
    display: grid;
    max-width: 260px;
    max-height: 294px;

    &:hover,
    &:focus,
    &:focus-within {
        .staff__description-wrapper {
            background-color: rgba($sapphire, 0.89);
            display: block;
            max-height: inherit;
            padding-top: 51px;
            overflow-y: scroll;
            scrollbar-width: none;

            /* stylelint-disable */
            &::-webkit-scrollbar {
                display: none;
            }

            /* stylelint-enable */
        }

        .staff__description {
            display: block;
            transform: translateY(-4px);
        }
    }
}

.staff__image {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.staff__description-wrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    color: $color-default-white;
    display: grid;
    place-items: end center;
    padding: 23px;

    h3 {
        margin: 0;
        text-align: center;
        font-size: 18px;
        line-height: 27px;
    }
}

.staff__description {
    display: none;

    p {
        color: $spindle;
        margin: 0;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 35px;
    }
}

.staff__description-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 48px;
}

.staff__description-item {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    margin-bottom: 13px;

    &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: -9.5%;
        display: block;
        width: 6px;
        height: 6px;
        background-color: $color-default-white;
        border-radius: 50%;
    }
}

.staff__button {
    top: 20.4%;
    border: none;
    display: block;
    background-color: transparent;
    height: 87%;
    margin: 0;

    &::before {
        content: '';
        display: block;
        width: 23px;
        height: 23px;
        border: 1px solid $dark-gray;
        border-top: none;
        border-right: none;
        transform: rotate(45deg);
    }

    &--prev {
        left: -3.6%;
    }

    &--next {
        right: -3.3%;

        &::before {
            transform: rotate(-135deg);
        }
    }

    &:focus,
    &:hover {
        outline: none;

        &::before {
            border-bottom: 1px solid $crimson;
            border-left: 1px solid $crimson;
        }
    }

    &:active {
        &::before {
            border-bottom: 1px solid $cobalt;
            border-left: 1px solid $cobalt;
        }
    }
}