.staff__container {
  max-width: 1294px;
  position: relative;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 858px;
  }

  @media (max-width: $mobile-width) {
    max-width: 350px;
  }

  h2 {
    margin: 0;
    margin-bottom: 48px;
    padding-left: 69px;
    font-family: $alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @media (max-width: $tablet-width) {
      font-size: 42px;
      line-height: 50px;
      text-align: center;
      padding-left: 0;
      padding-right: 6px;
      margin-bottom: 32px;
    }

    @media (max-width: $mobile-width) {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 43px;
    }
  }
}

.staff__content {
  display: flex;
  padding: 0 10px;
  padding-bottom: 140px;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    padding-bottom: 69px;
  }
}

.staff__slider {
  max-width: 100%;

  @media (max-width: $tablet-width) {
    max-width: 566px;
  }

  @media (max-width: $mobile-width) {
    max-width: 226px;
  }
}

.staff__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  column-gap: 3.35%;

  @media (max-width: $tablet-width) {
    gap: 0;
  }
}

.staff__item {
  display: grid;
  max-width: 260px;
  max-height: 294px;

  @media (max-width: $tablet-width) {
    max-width: 268px;
  }

  @media (max-width: $mobile-width) {
    max-width: 226px;
    height: 274px;
  }

  &:hover,
  &:focus,
  &:focus-within {
    .staff__description-wrapper {
      background-color: rgba($sapphire, 0.89);
      display: block;
      max-height: inherit;
      padding-top: 51px;
      overflow-y: scroll;
      scrollbar-width: none;

      @media (max-width: $tablet-width) {
        padding-right: 40px;
      }

      @media (max-width: $mobile-width) {
        padding-top: 41px;
        padding-right: 33px;
      }

      /* stylelint-disable */
      &::-webkit-scrollbar {
        display: none;
      }

      /* stylelint-enable */
    }

    .staff__description {
      display: block;
      transform: translateY(-4px);
    }
  }
}

.staff__image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @media (max-width: $tablet-width) {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.staff__description-wrapper {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  color: $color-default-white;
  display: grid;
  place-items: end center;
  padding: 23px;

  @media (max-width: $tablet-width) {
    padding-bottom: 32px;
    padding-left: 32px;
  }

  h3 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }
}

.staff__description {
  display: none;

  p {
    color: $spindle;
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
  }
}

.staff__description-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 48px;

  @media (max-width: $tablet-width) {
    padding-left: 39px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 17px;
  }
}

.staff__description-item {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  margin-bottom: 13px;

  @media (max-width: $mobile-width) {
    margin-bottom: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -9.5%;
    display: block;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;

    @media (max-width: $mobile-width) {
      top: 7px;
      left: -10.5%;
    }
  }
}

.staff__button {
  position: static;
  align-self: center;
  border: none;
  display: block;
  background-color: transparent;
  margin: 0;

  &::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid $dark-gray;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);

    @media (max-width: $mobile-width) {
      width: 14px;
      height: 14px;
    }
  }

  &--prev {
    margin-right: 2%;

    @media (max-width: $tablet-width) {
      margin: 0;
    }
  }

  &--next {
    transform: translateX(-5px);

    &::before {
      transform: rotate(-135deg);
    }

    @media (max-width: $mobile-width) {
      transform: translateX(5px);
    }
  }

  &:focus,
  &:hover {
    outline: none;

    &::before {
      border-bottom: 1px solid $crimson;
      border-left: 1px solid $crimson;
    }
  }

  &:active {
    &::before {
      border-bottom: 1px solid $cobalt;
      border-left: 1px solid $cobalt;
    }
  }
}
