.tab {
    max-width: 100%;
    margin: 0 auto;
}

.tab__button-set {
    position: relative;
    width: 341px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;


    @media(max-width: $tablet-width) {
        width: 332px;
        margin-bottom: 58px;
    }

    @media(max-width: $mobile-width) {
        width: 100%;
        margin-bottom: 48px;
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: -15px;
        content: "";
        height: 2px;
        width: 100%;
        background-color: rgba($grey, 0.2);

        @media(max-width: $tablet-width) {
            bottom: -14px;
        }
    }
}

.tab__button {
    font-size: 20px;
    line-height: 30px;
    color: rgba($sapphire, 0.5);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    @media(max-width: $tablet-width) {
        font-size: 18px;
        line-height: 27px;
    }

    @media(max-width: $mobile-width) {
        font-size: 16px;
        line-height: 24px;
    }

    &:focus,
    &:hover {
        color: rgba($sapphire, 0.7);
    }

    &:active {
        color: $crimson;
    }

    &--active {
        color: $sapphire;
        position: relative;

        &:focus,
        &:hover {
            color: $sapphire;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -15px;
            width: 100%;
            height: 2px;
            background-color: $crimson;

            @media(max-width: $tablet-width) {
                bottom: -14px;
            }

            @media(max-width: $mobile-width) {
                width: calc(100% + 7px);
            }
        }
    }
}

.tab__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    z-index: 2;

    &:not([hidden]) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 3.5%;

        @media(max-width: $tablet-width) {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }

        @media(max-width: $tablet-width) {
            row-gap: 33px;
        }
    }
}

.tab__item {
    position: relative;
    max-width: 360px;
    min-height: 448px;
    padding: 63px 45px;
    background-color: $color-default-white;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    @media(max-width: $tablet-width) {
        max-width: 100%;
    }

    @media(max-width: $mobile-width) {
        padding: 51px 35px;
        min-height: 384px;
    }

    h3 {
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        margin: 0;
        margin-bottom: 11px;

        @media(max-width: $mobile-width) {
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 9px;
        }
    }

    h4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $chambray;
        margin: 0;
        margin-bottom: 64px;

        @media(max-width: $mobile-width) {
            margin-bottom: 54px;
        }
    }


    span {
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        color: $egyptian-blue;
        z-index: 2;
        margin-right: 13px;

        @media(max-width: $mobile-width) {
            font-size: 48px;
            line-height: 72px;
            margin-right: 8px;
        }

        &::after {
            position: absolute;
            top: -60%;
            left: -15%;
            content: attr(data-shadow);
            font-size: 100px;
            line-height: 150px;
            color: rgba($whisper, 0.48);
            z-index: -1;

            @media(max-width: $mobile-width) {
                font-size: 80px;
                line-height: 120px;
            }
        }
    }

    &:focus,
    &:focus-within,
    &:hover {
        outline: none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 7px solid $smalt;
            border-image: linear-gradient(to left top, $smalt, $crimson);
            border-image-slice: 1;
            pointer-events: none;
        }
    }
}

.tab__button-buy {
    text-transform: uppercase;
    color: $sapphire;
    padding: 25px 43px;
    border: 2px solid $sapphire;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    user-select: none;

    @media(max-width: $mobile-width) {
        padding: 25px 44px;
        transform: translateY(-4px);
    }

    &:hover,
    &:focus {
        outline: none;
        border: none;
        padding: 27px 45px;
        color: $color-default-white;
        background: linear-gradient(97.05deg, $torch-red 17.6%, $cobalt 95.31%);

        @media(max-width: $mobile-width) {
            padding: 27px 46px;
        }
    }
}

.tab__icon {
    position: relative;
    z-index: 2;

    @media(max-width: $mobile-width) {
        width: 24px;
        height: 33px;
        transform: translateX(3px);
    }
}

.tab__price {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}