.video__button {
    position: absolute;
    top: 34%;
    left: 40%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(44.89deg, $dark-cerulean 25.38%, $venetian-red 74.89%);
    outline: none;
    cursor: pointer;

    @media(max-width: $tablet-width) {
        width: 52px;
        height: 52px;
    }

    @media(max-width: $mobile-width) {
        left: 42.1%;
    }

    &:focus,
    &:hover {
        scale: 1.1;

        .video__icon {
            color: $spindle;
        }
    }

    &:active {
        .video__icon {
            color: $ghost-white;
        }

        &::after {
            content: none;
        }
    }

    &::after {
        position: absolute;
        top: -19%;
        left: -20%;
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid rgba($cobalt, 0.2);
        background: linear-gradient(to right, rgba($torch-red, 0.2), rgba($cobalt, 0.2));
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;

        @media(max-width: $tablet-width) {
            width: 73px;
            height: 73px;
        }
    }
}

.video__icon {
    color: $color-default-white;
    transform: translate(3px, 2px);
    width: 13px;

    @media(max-width: $tablet-width) {
        width: 12px;
        height: 11px;
        transform: translate(1.5px, 1px);
    }
}

.video__preview {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.video {
    iframe {
        width: 100%;
        height: 100%;

        @media(max-width: $mobile-width) {
            width: 100%;
            height: auto;
            aspect-ratio: 1.91 / 1;
        }
    }
}