.video__button {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(44.89deg, $dark-cerulean 25.38%, $venetian-red 74.89%);
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
        scale: 1.1;

        .video__icon {
            color: $spindle;
        }
    }

    &:active {
        .video__icon {
            color: $ghost-white;
        }

        &::after {
            content: none;
        }
    }

    &::after {
        position: absolute;
        top: -20%;
        left: -20%;
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid rgba($cobalt, 0.2);
        background: linear-gradient(to right, rgba($torch-red, 0.2), rgba($cobalt, 0.2));
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }
}

.video__icon {
    color: $color-default-white;
}